<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="IgnorePath" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_URI}" pattern="^/scripts/" />
            <add input="{REQUEST_URI}" pattern="^/locales/" />
            <add input="{REQUEST_URI}" pattern="^/fonts/" />
            <add input="{REQUEST_URI}" pattern="^/css/" />
            <add input="{REQUEST_URI}" pattern="^/images/" />
            <add input="{REQUEST_URI}" pattern="^/partials/" />
            <add input="{REQUEST_URI}" pattern="^/layouts/" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Index Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="(.*)" />
      </rewriteMaps>
      <outboundRules>
        <rule name="SetHeaderValue1" preCondition="ContentTypeIsHtml">
          <match serverVariable="RESPONSE_Cache_control" pattern="(.*)" />
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <rule name="SetHeaderValue2" preCondition="ContentTypeIsHtml">
          <match serverVariable="RESPONSE_Pragma" pattern="(.*)" />
          <action type="Rewrite" value="no-cache" />
        </rule>
        <rule name="SetHeaderValue3" preCondition="ContentTypeIsHtml">
          <match serverVariable="RESPONSE_Expires" pattern="(.*)" />
          <action type="Rewrite" value="0" />
        </rule>
        <rule name="SetHeaderValue4" preCondition="ContentTypeIsHtml">
          <match serverVariable="RESPONSE_Last_Modified" pattern="(.*)" />
          <action type="Rewrite" value="" />
        </rule>
        <preConditions>
          <preCondition name="ContentTypeIsHtml">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
</configuration>