<img ng-if="spot.isCovered && spot.flag=='none'" src="../images/minesweeper/covered.png" />
<img ng-if="spot.isCovered && spot.flag=='mine'" src="../images/minesweeper/flag-mine.png" />
<img ng-if="spot.isCovered && spot.flag=='suspect'" src="../images/minesweeper/flag-suspect.png" />
<img ng-if="!spot.isCovered && spot.content=='empty'" src="../images/minesweeper/empty.png" />
<img ng-if="!spot.isCovered && spot.content=='mine'" src="../images/minesweeper/mine.png" />
<img ng-if="!spot.isCovered && spot.content==1" src="../images/minesweeper/number-1.png" />
<img ng-if="!spot.isCovered && spot.content==2" src="../images/minesweeper/number-2.png" />
<img ng-if="!spot.isCovered && spot.content==3" src="../images/minesweeper/number-3.png" />
<img ng-if="!spot.isCovered && spot.content==4" src="../images/minesweeper/number-4.png" />
<img ng-if="!spot.isCovered && spot.content==5" src="../images/minesweeper/number-5.png" />
<img ng-if="!spot.isCovered && spot.content==6" src="../images/minesweeper/number-6.png" />
<img ng-if="!spot.isCovered && spot.content==7" src="../images/minesweeper/number-7.png" />
<img ng-if="!spot.isCovered && spot.content==8" src="../images/minesweeper/number-8.png" />